@import "../../theme/theme";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $lato_300;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

  /* unvisited link */
a:link {
    color: #57aaf3;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #57aaf3;
    text-decoration: underline;

}

/* selected link */
a:active {
    color: #57aaf3;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: #BE23AE;
    text-decoration: none;
}

/* visited link */
a:visited:hover {
    color: #BE23AE;
    text-decoration: underline;
}