{
    "presets": ["next/babel"],
    "plugins": [
      [
        "formatjs",
        {
          "ast": true,
          "idInterpolationPattern": "[sha512:contenthash:base64:6]"
        }
      ]
    ]
  }