@import "../../theme/theme";

.navbar { 
    padding: 0 !important; 
    overflow: hidden; 
    background-color: $dark;  
}
    .navbar_container { 
        width: 100% !important; 
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5px;
    }
        .navbar_logo_container {
            height: fit-content;
            width: 544px !important;
        }
            .navbar_logo {
                position: relative;
                padding: 0;
                width: 544px; 
                max-width: calc(100vw - 10px) !important;
                height: fit-content !important;  
                align-items: flex-end;
                display: flex;
            }
                .navbar_logo_img { 
                    width: 544px !important; 
                    height: 100px !important;  
                    max-width: calc(100vw - 10px) !important;
                }

        .tab_menu {
            width: fit-content;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    
            .tab_button {
                line-height: 45px;
                height: 45px;
                margin-bottom: 5px;
                padding: 0px 10px;
                font-size: 24px;
                font-weight: bold;
                color: $tertiary !important;
                background-color: $primary !important;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 2px solid $tertiary;
                border-bottom: 2px solid $tertiary;
            }
            .tab_button:first-of-type { border-left: 2px solid $tertiary }

            @media (min-width: 800px) {
                .tab_button:hover { background-color: $tertiary !important; color: $primary !important; border-right: 2px solid $primary; border-bottom: 2px solid $primary; }
                .tab_button:hover:first-of-type { border-left: 2px solid $primary }
            }

            .tab_active {
                line-height: 45px;
                height: 45px;
                margin-bottom: 5px;
                padding: 0px 10px;
                font-size: 24px;
                font-weight: bold;
                color: $primary;
                background-color: $tertiary;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 2px solid $primary;
                border-bottom: 2px solid $primary;
            }
            .tab_active:first-of-type { border-left: 2px solid $primary }


