@import "../../theme/theme";

.navbar { 
    padding: 0 !important; 
    overflow: hidden; 
    background-color: $dark;  
}
    .navbar_container { 
        height: 100px; 
        width: 100%; 
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
        .logo_container {
            width: calc(35% - 5px);
        }
            .navbar_logo {
                position: relative;
                padding: 0; 
                width: fit-content; 
                height: 100% !important;  
            }
                .navbar_logo_img { 
                    min-height: 80px; 
                    padding: 10px !important; 
                }

        .tab_menu_container {
            width: calc(35% + 5px);
            display: flex;
            flex-direction: column;
        }

            .tab_menu_top {
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
            }

            .tab_menu_bottom {
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
            }
                .tab_button {
                    padding: 15px;
                    font-size: 24px;
                    background-color: $primary;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin-right: 5px;
                    font-weight: bold;
                }
                .tab_button:hover {
                    background-color: $secondary;
                    color: $light;
                    font-weight: bold;
                }


