a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
    color: theme('colors.primary');
}

::-webkit-scrollbar-track {
    background-color: theme('colors.secondary_light');
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary');
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.primary_light');
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.primary') transparent;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker-wrapper .react-datepicker__input-container input {
    width: 100%;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -15px; /* gutter size offset */
    width: 100%;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}

.radial-gradient-stone-950 {
    background-image: radial-gradient(circle at top center, #0c0a09 0%, transparent 70%);
}

.radial-gradient-stone-950-large {
    background-image: radial-gradient(circle at top center, #0c0a09 30%, transparent 95%);
}

.radial-gradient-stone-900 {
    background-image: radial-gradient(circle at top center, #1c1917 0%, transparent 70%);
}

.radial-gradient-stone-900-large {
    background-image: radial-gradient(circle at top center, #1c1917 30%, transparent 95%);
}

.radial-gradient-stone-600 {
    background-image: radial-gradient(circle at top center, #57534e 0%, transparent 70%);
}

.radial-gradient-stone-300 {
    background-image: radial-gradient(circle at top center, #d6d3d1 0%, transparent 70%);
}

.radial-gradient-primary {
    background-image: radial-gradient(circle at top center, theme('colors.primary') 0%, transparent 70%);
}

.radial-gradient-primary-large {
    background-image: radial-gradient(circle at top center, theme('colors.primary') 20%, transparent 95%);
}

.radial-gradient-primary_light {
    background-image: radial-gradient(circle at top center, theme('colors.primary_light') 0%, transparent 70%);
}

.radial-gradient-primary_light-large {
    background-image: radial-gradient(circle at top center, theme('colors.primary_light') 20%, transparent 95%);
}

.radial-gradient-primary_dark {
    background-image: radial-gradient(circle at top center, theme('colors.primary_dark') 0%, transparent 70%);
}

.radial-gradient-primary_dark-large {
    background-image: radial-gradient(circle at top center, theme('colors.primary_dark') 20%, transparent 95%);
}
