a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
    color: theme('colors.primary');
}

::-webkit-scrollbar-track {
    background-color: theme('colors.secondary_light');
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary');
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.primary_light');
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.primary') transparent;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker-wrapper .react-datepicker__input-container input {
    width: 100%;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -15px; /* gutter size offset */
    width: 100%;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}

.radial-gradient {
    background-image: radial-gradient(circle at top center, theme('colors.secondary') 0%, transparent 90%);
}

.radial-gradient-primary {
    background-image: radial-gradient(circle at top center, theme('colors.primary_light') 0%, transparent 90%);
}
