@import "../../theme/theme";



  .input_and_button_container { display: flex; flex-direction: row; margin-right: 10px; }
  .input_and_button_container:last-of-type { padding-bottom: 10px; }
        
  .input_container { display: flex; flex-direction: row; width: 100%; padding: 10px 10px 0px 10px; }
  .input_container:last-of-type { padding-bottom: 10px; }
    .input_label_container { display: flex; align-items: center; justify-content: center; height: 100%; min-width: 90px; max-width: 90px; padding: 5px 5px; 
                             background-color: $secondary; border-radius: 5px 0px 0px 5px; white-space: nowrap; }                     
    .input_label { color: $dark; font-size: 16px !important; font-weight: bold !important; }

  .input_split_container { display: flex; flex-direction: row; width: 50%; height: 30px; }
  .input_split_container:last-of-type { margin-left: 10px; }

  /* CSS specific to iOS devices */ 
  @supports (-webkit-touch-callout: none) {
    .input_textbox { width: 100%; height: 30px; padding: 6px 10px; color: $secondary; background-color: $medium; border-radius: 0px 5px 5px 0px; font-size: 14px; font-weight: bold; border: none; }
    .input_select {  width: 100%; height: 30px; padding: 5px 10px; color: $secondary; background-color: $medium; border-radius: 0px 5px 5px 0px; font-size: 14px; font-weight: bold; border: none; }
    .date_picker {   width: 100%; height: 31px; padding: 5px 10px; color: $secondary; background-color: $medium; border-radius: 0px 5px 5px 0px; font-size: 14px; font-weight: bold; border: none; }
  }
  
  /* CSS for other than iOS devices */ 
  @supports not (-webkit-touch-callout: none) {
    .input_textbox { width: 100%; height: 30px; padding: 6px 10px; color: $secondary; background-color: $medium; border-radius: 0px 5px 5px 0px; font-size: 14px; font-weight: bold; border: none; }
    .input_select {  width: 100%; height: 30px; padding: 5px 10px; color: $secondary; background-color: $medium; border-radius: 0px 5px 5px 0px; font-size: 14px; font-weight: bold; border: none; }
    .date_picker {   width: 100%; height: 31px; padding: 5px 10px; color: $secondary; background-color: $medium; border-radius: 0px 5px 5px 0px; font-size: 14px; font-weight: bold; border: none; }
    .input_select > option { 
      font-weight: bold; 
    }
  }

  .input_select > option { font-weight: bold; }
  .input_select { padding-left: 2px; }
  .input_textbox, .date_picker { padding-left: 5px; }

.button_container { margin: 10px 0px 0px 0px; padding: 2.5px; background-color: $medium !important; border-radius: 5px !important; display: flex; justify-content: center; }
.button_icon { fill: $light !important; width: 26px !important; margin: 0 auto; }

.rotate { animation: rotation 1.5s infinite linear; }
.running_background { background-color: $primary !important; }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loader { border: 16px solid $light; border-top: 16px solid $primary; border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; margin: 0 auto; }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
