@import "../../theme/theme";

@import "../../theme/theme";

.page_container { background-color: $dark; width: 100%; height: 100%; position: absolute; top: 100px; }
    .loading_title {color: $primary; font-size: 24px; width: 100%; text-align: center;}