@import "../../theme/theme";
@media (min-width: 765px) {
  .page_container { 
    position: absolute;
    height: calc(100% - 100px); 
    width: 100%; 
    background-color: $medium;
    overflow-y: hidden; 
    overflow-x: hidden;
  }
}
@media (max-width: 765px) {
  .page_container { 
    position: absolute;
    height: calc(100% - 150px); 
    width: 100%; 
    background-color: $medium;
    overflow-y: hidden; 
    overflow-x: hidden;
  }
}

  .server_list_filter_column {
    position: relative;
    flex: 1 1 40%;
    min-height: 20px; 
    background-color: $dark;
  } 
      
    .input_container { 
      display: flex;
      flex-direction: row;
      width: 100%; 
      padding: 10px 10px 0px 10px; 
    }
    .input_container:last-of-type { 
      padding-bottom: 10px;
    }
      .input_label_container { 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        min-width: 110px; 
        max-width: 110px; 
        padding: 5px 5px; 
        background-color: $secondary; 
        border-radius: 5px 0px 0px 5px;
      }                     
      .input_label { color: $dark; font-size: 16px !important; font-weight: bold !important; }

    .input_split_container {
      display: flex;
      flex-direction: row;
      width: 50%; 
    }
    .input_split_container:last-of-type { margin-left: 10px; }

    .input_and_button_container {
      display: flex;
      flex-direction: row;
      margin-right: 10px;
    }
    .input_and_button_container:last-of-type { 
      padding-bottom: 10px;
    }
    
    /* CSS specific to iOS devices */ 
    @supports (-webkit-touch-callout: none) {
      .input_textbox { 
          width: 100%; 
          height: 100%; 
          padding: 7.5px 10px;
          color: $light; 
          background-color: $medium; 
          border-radius: 0px 5px 5px 0px; 
          font-size: 16px; 
          font-weight: bold; 
      }
      .input_select { 
          width: 100%; 
          height: 100%;
          padding: 7.5px 10px; 
          background-color: $medium; 
          color: $primary; 
          border-radius: 0px 5px 5px 0px; 
          border: none; 
          font-size: 16px; 
          font-weight: bold; 
      }
    }
    
    /* CSS for other than iOS devices */ 
    @supports not (-webkit-touch-callout: none) {
      .input_textbox { 
          width: 100%; 
          height: 100%; 
          padding: 7.5px 10px;
          color: $primary; 
          background-color: $medium; 
          border-radius: 0px 5px 5px 0px; 
          border: none; 
          font-size: 16px; 
          font-weight: bold; 
      }
      .input_select { 
          width: 100%;  
          height: 100%; 
          padding: 7.5px 10px;
          color: $primary; 
          background-color: $medium; 
          border-radius: 0px 5px 5px 0px; 
          border: none; 
          font-size: 16px; 
          font-weight: bold; 
      }
      .input_select > option { 
          font-weight: bold; 
      }
    }

  @media (min-width: 765px) {
    .server_list_container { position: relative; display: flex; flex-wrap: wrap; height: 100%; width: 100%; }
    .server_list_body_container { height: 100%; flex: 1 1 60%; min-width: 45ch; overflow-y: auto; overflow-x: hidden; background-color: $dark; }
    .server_list_body { width: 100%; height: calc(100% - 55px - 35px) !important; background-color: $medium; }
  }
  @media (max-width: 765px) {
    .server_list_container { position: relative; display: flex; flex-wrap: wrap; max-height: 100%; height: 100%; width: 100%; }
    .server_list_body_container { height: 100%; flex: 1 1 60%; min-width: 45ch; overflow-y: auto; overflow-x: hidden; padding-bottom: 100px; background-color: $dark; }
    .server_list_body { width: 100%; height: calc(100% - 35px - 35px) !important; overflow-y: scroll; background-color: $medium; z-index: 2;   }
  }
  @media (max-width: 525px) {
    .server_list_body { width: 100%; height: calc(100% - 75px - 35px) !important; overflow-y: scroll; background-color: $medium; z-index: 2;   }
  }
  @media (max-width: 500px) {
    .server_list_body { width: 100%; height: calc(100% - 65px - 35px) !important; overflow-y: scroll; background-color: $medium; z-index: 2;   }
  }
  @media (max-width: 475px) {
    .server_list_body { width: 100%; height: calc(100% - 55px - 35px) !important; overflow-y: scroll; background-color: $medium; z-index: 2;  }
  }

    @media (min-width: 765px) {
      .server_header_container{ position: relative; width: 100%; height: 35px; background-color: $secondary; color: $dark !important; font-weight: bold; border-bottom: 1px solid $dark; display: flex; flex-direction: row; }
    }
    @media (max-width: 765px) {
      .server_header_container { position: relative; width: 100%; height: 35px; background-color: $secondary; color: $dark !important; font-weight: bold; border-bottom: 1px solid $dark; display: flex; flex-direction: row; }
    }

    .server_list_table { position: relative; width: 100%; height: 100%;}

      .server_container { background-color: $medium; height: 35px; border-bottom: 1px solid $dark; display: flex; flex-direction: row; }
      .server_container:last-of-type { border-bottom: none }
      .server_container:hover { background-color: $dark; }

      .server_container > div , .server_header_container > div { padding: 5px 10px; overflow: hidden; white-space: nowrap; line-height: 25px; }
      
      .hot_wipe  { color: $hot_wipe; }
      .cool_wipe { color: $cool_wipe; }
      .cold_wipe { color: $cold_wipe; }
      .old_wipe  { color: $light; }
  
      .rank_cell { min-width: 65px !important; max-width: 65px; }
      @media (min-width: 765px) {
        .server_name_cell { min-width: calc(100% - 230px) !important; max-width: calc(100% - 230px) !important; overflow-x: hidden !important; }
        .server_name_container { width: fit-content; }
      }
      @media (max-width: 765px) {
        .server_name_cell { min-width: calc(100% - 230px) !important; max-width: calc(100% - 230px) !important; overflow-x: scroll !important; }
        .server_name_container { width: fit-content; }
      }
      .player_count_cell { min-width: 80px !important; max-width: 80px !important; }
      .timestamp_cell { min-width: 85px !important; max-width: 85px !important; } 
  
      .piece_description_container { height: 25px; line-height: 25px; }
          .piece_title { display: inline-block; vertical-align: middle; line-height: normal; color: white; }
          .piece_sold { position: absolute; bottom: 10px; right: 10px; }

  
  .server_list_page_filter_container {
    display: inline-flex; flex-direction: row;
  }
    .page_selector_container { margin-right: 10px; margin-top: 10px; background-color: $secondary; padding: 5px 2.5px; border-radius: 5px; }
    @media (min-width: 765px) {
      .page_selector_container { margin-left: 0px; }
    } 
    @media (max-width: 765px) {
      .page_selector_container { margin-left: 10px; }
    }
    
      .page_selector { display: flex; flex-direction: row; font-weight: bold; line-height: 22px; color: $dark !important; }
        .num_servers { width: 8ch; background-color: $secondary; color: $dark; font-weight: bold; padding: 3.5px 7.5px; border-radius: 5px; border: none; }
      .page_arrow_icon { fill: $dark !important; }
      .page_arrow_icon:hover { fill: $light !important; }

.refresh_container { margin: 10px 0px 0px 0px; padding: 2.5px; background-color: $medium !important; border-radius: 5px !important; display: flex; justify-content: center; }
  .refresh_icon { fill: $light !important; width: 26px !important; margin: 0 auto; }

.filter_col_ad_container { position: absolute; bottom: 0px; height: 400px; width: 100%; }
    .filter_col_ad { width: 100%; height: 100%; position: absolute; z-index: 2; }
      .adsbygoogle { width: 100%; height: 100%; }
    .filter_col_ad_blocked { width: 100%; height: 100%; position: absolute; z-index: 1; padding: 20px; display: flex; justify-content: center; align-items: center; }
      .ad_blocked_container { background-color: $dark; height: fit-content; display: flex; flex-direction: column; justify-content: center; align-items: center; }
        .ad_blocked_message { color: $light; font-size: 32px !important; text-align: center; }
        .thumb_up_icon { color: $light; width: 48px !important; height: 48px !important; position: relative; margin-top: 24px; }

.rotate { animation: rotation 1.5s infinite linear; }
.running_background { background-color: $primary !important; }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.img_hor_vert {
  -moz-transform: scale(-1);
  -o-transform: scale(-1);
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.loader { border: 16px solid $light; border-top: 16px solid $primary; border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; margin: 0 auto; }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
