@import "../../theme/theme";

.page_container { 
  position: absolute;
  height: calc(100% - 100px); 
  width: 100%; 
  overflow-y: scroll; 
  overflow-x: hidden; 
  background-color: $medium 
}

  .server_list_container { 
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    height: 100%;
    width: 100%; 
  }

    .server_list_body { 
      min-height: calc(100% - 110px); 
      flex: 1 1 65%; 
      min-width: 50ch; 
      padding-left: 20px;
      padding-top: 20px;
    }

      .server_list_table { position: relative; width: calc(100% - 20px); border: 1px solid $primary; }

     
      .server_container { background-color: $dark; height: 35px; border-bottom: 1px solid $medium; display: flex; flex-direction: row; }
      .server_container:last-of-type { border-bottom: none }
      .server_container:hover { background-color: $medium; }

      .server_container > div { padding: 5px 10px; font-weight: bold; overflow: hidden; white-space: nowrap; line-height: 25px; }
      
      .hot_wipe  { color: $hot_wipe; }
      .cool_wipe { color: $cool_wipe; }
      .cold_wipe { color: $cold_wipe; }
      .old_wipe  { color: $light; }
  
      .rank_cell { width: 8ch !important; }
      .server_name_cell { width:  50% !important; }
      .player_count_cell { width: 10ch !important;}
      .timestamp_cell { width: 20ch !important; } 
  
      .piece_description_container { height: 25px; line-height: 25px; }
          .piece_title { display: inline-block; vertical-align: middle; line-height: normal; color: white; }
          .piece_sold { position: absolute; bottom: 10px; right: 10px; }
  
  .server_list_filter_column {
    flex: 1 1 35%;
    min-height: 200px; 
    background-color: $dark;
  } 
      
    .input_container { 
      display: flex;
      flex-direction: row;
      width: 100%; 
      padding: 10px 10px; 
    }
      .input_label_container { 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        width: 13ch; 
        height: 100%; 
        padding: 5px 10px; 
        background-color: $primary; 
        border-radius: 5px 0px 0px 5px;
      }                     
      .input_label { color: $dark; font-weight: bold !important; }
    
    /* CSS specific to iOS devices */ 
    @supports (-webkit-touch-callout: none) {
      .input_textbox { 
          width: calc(100% - 13ch); 
          height: 100%; 
          padding: 6px 10px;
          color: $light; 
          background-color: $medium; 
          border-radius: 0px 5px 5px 0px; 
          font-size: 14px; 
          font-weight: bold; 
      }
      .input_select { 
          width: calc(100% - 13ch); 
          height: 100%;
          padding: 5px 10px; 
          background-color: $medium; 
          color: $primary; 
          border-radius: 0px 5px 5px 0px; 
          border: none; 
          font-size: 14px; 
          font-weight: bold; 
      }
    }
    
    /* CSS for other than iOS devices */ 
    @supports not (-webkit-touch-callout: none) {
      .input_textbox { 
          width: calc(100% - 13ch); 
          height: 100%; 
          padding: 6px 10px;
          color: $primary; 
          background-color: $medium; 
          border-radius: 0px 5px 5px 0px; 
          border: none; 
          font-size: 14px; 
          font-weight: bold; 
      }
      .input_select { 
          width: calc(100% - 13ch);  
          height: 100%; 
          padding: 5px 10px;
          color: $primary; 
          background-color: $medium; 
          border-radius: 0px 5px 5px 0px; 
          border: none; 
          font-size: 14px; 
          font-weight: bold; 
      }
      .input_select > option { 
          font-weight: bold; 
      }
    }

.refresh_container { 
  position: fixed;
  top: 50px;
  right: 0px;
  height: 50px !important; 
  width:  50px !important;
  padding: 10px;
  background-color: $medium !important;
  border-top-left-radius: 5px !important;
}

  .refresh_icon {
    fill: $light !important;
    width: 100% !important;
    height: 100% !important;
  }

.rotate {
  animation: rotation 1.5s infinite linear;
}
.running_background {
  background-color: $primary !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}