// theme/_colors.scss

$light: #a8a29e;      // stone-400
$medium: #3f3f46;     // stone-700
$dark: #1c1917;       // stone-900

$primary: #ef4444;    // red-500
$secondary: #b91c1c;  // red-700
$tertiary: #7f1d1d;   // red-900

$highlight: #FBB13C;
$error: #85230A;

$success_1: #4BD269;
$success_2: #2DB44A;
$success_3: #1D722F;

$danger_1: #BE310E;
$danger_2: #85230A;
$danger_3: #5E1908;

$hot_wipe: #dc2626; // red-600
$cool_wipe: #f97316; // orange-500
$cold_wipe: #fde047; // yellow-500

$copy: #597D9F;


// $b_primary: #597D9F;
// $b_secondary: #425D76;
// $b_light: #B9C3CA;
// $b_dark: #30332E;


// $light: #9fa090; // olive-1
// $primary: #45544d; // olive-2
// $secondary: #3b4640; // olive-3